<link rel="stylesheet" type="text/css" href="./osx-menubar/styles/menubar.css" />
<div class="menubar menubar--float menubar--dark">
	<div class="menubar-area menubar--left">
		<div class="menubar-items">

			<div id="menubarItem-menu" class="menubarItem">
				<span class="'menubarItem-icon">
					<span class="icon icon--menu"></span>
					<!-- <img width="20px" height="20px" src="./images/vector-me-clean-lonf.png" />-->
				</span>
				<span class="menubarItem-text"></span>
			</div>

			<div id="menubarItem-focused_window" class="menubarItem isHidden">
				<span class="'menubarItem-icon">
					<span class="icon icon--activewindow"></span>
				</span>
				<span class="menubarItem-text t--bold">Focused window</span>
			</div>

		</div> <!-- .menubar-content -->
	</div> <!-- .menubar-area .menubar--left -->

	<div class="menubar-area menubar--center">
		<div class="menubar-items">

			<div id="menubarItem-music" class="menubarItem isHidden">
				<span class="'menubarItem-icon">
					<span class="icon icon--music"></span>
				</span>
				<span class="menubarItem-text">Music</span>
			</div>

		</div> <!-- .menubar-content -->
	</div> <!-- .menubar-area .menubar--center -->

	<div class="menubar-area menubar--right">
		<div class="menubar-items">

			<div id="menubarItem-vpn" class="menubarItem isHidden">
				<span class="'menubarItem-icon">
					<span class="icon mdIcon mdIcon--vpn"></span>
				</span>
				<span class="menubarItem-text t--bold"></span>
			</div>

			<div id="menubarItem-battery" class="menubarItem isHidden">
				<span class="'menubarItem-icon">
					<span class="icon mdIcon mdIcon--battery"></span>
				</span>
				<span class="menubarItem-text t--bold">0%</span>
			</div>

			<div id="menubarItem-audio_volume" class="menubarItem isHidden">
				<span class="'menubarItem-icon">
					<span class="icon mdIcon mdIcon--volume"></span>
				</span>
				<span class="menubarItem-text t--bold">0%</span>
			</div>

			<div id="menubarItem-date" class="menubarItem isHidden">
				<span class="'menubarItem-icon">
					<span class="icon mdIcon mdIcon--date"></span>
				</span>
				<span class="menubarItem-text t--bold">00-00-0000</span>
			</div>

			<div id="menubarItem-time" class="menubarItem isHidden">
				<span class="'menubarItem-icon">
					<span class="icon mdIcon mdIcon--time"></span>
				</span>
				<span class="menubarItem-text t--bold">00:00</span>
			</div>

		</div> <!-- .menubar-content -->
	</div> <!-- .menubar-area .menubar--right -->

</div> <!-- .menubar -->