@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons-Regular.eot);
	src: local('Material Icons'),
			 local('MaterialIcons-Regular'),
			 url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
			 url(../fonts/MaterialIcons-Regular.woff) format('woff'),
			 url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.mdIcon:after {
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 130%;
	height: 100%;
	width: 22px;
	vertical-align: middle;
}

.mdIcon.icon--vpn:after { content: 'vpn_lock'; }
.mdIcon.icon--wifi:after { content: 'network_wifi'; }
.mdIcon.icon--ethernet:after { content: 'settings_ethernet'; }
.mdIcon.icon--battery:after { content: 'battery_unknown'; }
.mdIcon.icon--volume:after { content: 'volume_mute'; }
.mdIcon.icon--date:after { content: 'date_range'; }
.mdIcon.icon--time:after { content: 'access_time'; }

#menubarItem-battery[js-state=unknown] .mdIcon.icon--battery:after { content: 'battery_unknown'; }
#menubarItem-battery[js-state=low] .mdIcon.icon--battery:after { content: 'battery_std'; }
#menubarItem-battery[js-state=medium] .mdIcon.icon--battery:after { content: 'battery_full'; }
#menubarItem-battery[js-state=high] .mdIcon.icon--battery:after { content: 'battery_full'; }
#menubarItem-battery[js-state=charged] .mdIcon.icon--battery:after { content: 'battery_charging_full'; }
#menubarItem-battery[js-state=critical] .mdIcon.icon--battery:after { content: 'battery_alert'; }

#menubarItem-battery[js-state=critical] { color: #F44336; }

#menubarItem-audio_volume[js-state=mute] .mdIcon.icon--volume:after { content: 'volume_off'; }
#menubarItem-audio_volume[js-state=low] .mdIcon.icon--volume:after { content: 'volume_mute'; }
#menubarItem-audio_volume[js-state=medium] .mdIcon.icon--volume:after { content: 'volume_down'; }
#menubarItem-audio_volume[js-state=high] .mdIcon.icon--volume:after { content: 'volume_up'; }

.menubar {
	display: block;
	position: absolute;
	left: 0%;
	top: 0%;

	width: 100%;
	height: 22px;

	font-family: Helvetica;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 22px;

	background: rgb(225,225,225);
	background-image: linear-gradient(to bottom, rgb(250,250,250) 0%, rgb(225,225,225) 100%);
	color: #444;

	box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.4);

	-webkit-font-smoothing: antialiased;
	z-index: -1;
}

.menubar--dark {
	background: rgb(0,0,0);
	background-image: linear-gradient(to bottom, rgb(50,50,50) 0%, rgb(25,25,25) 100%);
	color: #eee;
}

.menubar--float {
	left: 1%;
	top: 1%;

	width: 98%;

	border-radius: 3px;
}

.menubar-area {
	display: inline-block;
	height: 100%;
	float: left;
}

.menubar--left {
	width: 25%;
	text-align: left;
}

.menubar--center {
	width: 50%;
	text-align: center;
}

.menubar--right {
	width: 25%;
	text-align: right;
}

.menubar-items {
	margin-left: 1em;
	margin-right: 1em;
}

.menubarItem {
	display: inline-block;
	height: 100%;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.menubarItem-text {
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon:after {
	vertical-align: middle;
}

.t--bold {
	font-weight: bold;
}

.icon--menu:after {
	content: '';
	font-size: 1.25em;
	line-height: 1em;
}

.isHidden {
	display: none;
}